

html {
    min-height: 100%;
}  

body {
    min-height: 100%;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80px;
    width: 325px;
}

.info-fighter {
    color: aquamarine;
    text-align: center;
}

.info {
    color: red;
    text-align: center;
}

#reset {
    vertical-align: center;
}

#points-stats {
    border: solid red;
}


.ghidorah,
.godzilla,
.rodan,
.mothra {
    height: 100px;
    width: 75px;
    cursor: pointer;
}

#ghidorah,
#godzilla,
#rodan,
#mothra {
    height: 100px;
    width: 75px;
    cursor: pointer;
}

.opponent-title,
.fighter-title {
    font-size: 30px;
}

.opponent-title {
    color: red;
}

.fighter-title {
    color: aquamarine;
}

.fighter-name {
    font-size: 20px;
    color: aquamarine;
}

.opponent-name {
    font-size: 20px;
    color: rgb(255, 0, 0);
}

.attack-damage {
    font-size: 20px;
    color: rgb(250, 3, 3);

}

.ghi {
    color: rgb(241, 146, 21);
}

.moth {
    color: aquamarine;
}

.god {
    color: rgb(29, 32, 184);
}

.rod {
    color: coral;
}


.player1,
.player-opp {
    height: 200px;
    width: 150px;
}

.player-opp {
    float: right;
}

.attack-btn {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(253, 7, 7);
    cursor: pointer;
}

.explosion {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 125px;
    width: 125px;
    
}

.attack-letters {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opponent {
    float: right;
}

.char-name-player {
    color: cyan;
}

.char-name-opp {
    color: red;
}

.health-status,
.health-status1,
.health-status2 {
    color: chartreuse;
    font-size: 25px;

}

.alert-dark {
    background-color: rgba(0, 0, 0, 0.6);
}


.footer {
    padding: 6px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: rgb(51, 51, 51);
}

.footer,
.push {
    height: 40px;
}

@media (min-width: 993px) {
    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 100px;
        width: 800px;
    }
    

    .ghidorah,
    .godzilla,
    .rodan,
    .mothra {
        height: 250px;
        width: 175px;
    }

    #ghidorah,
    #godzilla,
    #rodan,
    #mothra {
        height: 250px;
        width: 170px;
        cursor: pointer;
    }

    .player1,
    .player-opp {
        height: 300px;
        width: 200px;

    }

    .attack-btn {
        position: absolute;
        text-align: center;
        color: rgb(253, 7, 7);
    }
    
    .explosion {
        vertical-align: middle;
        height: 150px;
        width: 150px;
    
    }
    
    .attack-letters {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .info-fighter {
        color: aquamarine;
        text-align: center;
    }

    .info {
        font-size: 20px;
        color: red;
        text-align: center;
    }

    #reset {
        position: relative;
        margin-top: 100px;
    }
}

/* @media (min-width: 768px) {
    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 100px;
        width: 800px;
    }
    

    .ghid,
    .godz,
    .rodn,
    .motha {
        margin: auto;
        padding: auto;
        height: 175px;
        width: 125px;
    }

    .player1,
    .player-opp {
        height: 300px;
        width: 200px;

    }

    .attack-btn {
        position: absolute;
        text-align: center;
        color: rgb(253, 7, 7);
    }
    
    .explosion {
        vertical-align: middle;
        height: 225px;
        width: 225px;
    
    }
    
    .attack-letters {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #reset {
        position: relative;
        margin-top: 150px;
    }


} */

